.fab {}
.player{
    
}
.infomation{}
.titleandButton{}
.btn{}
.views{
}
.vi {
    position:relative; 
    height:500px;
    overflow:hidden;
    max-width:100%;
}
.action{}
.channel{}
.metadata{}
.infom{}
.name{}
.subscribers{}
.subscribe{}
.videos{}
.item{}
.info{}
